/* CSS Document */
.element {
  display: inline-block;
}

#top {
	color:#F3B700;
	width:100%;
	height: 20px;
}

#center {
	width:100%;
	height: 100%;

	
		
}
#blue  {
width:855px;
height:627.3px;
left:0px;
margin: 0px;
padding: 0px;
float:left;
	
	
	
}

	

#title {
	width:410px;
	height: 70px;
	float:left;
	padding-left: 10px;
	padding-right: 0px;
	
	
	
}
	
#text {
		width:450px;
		height: auto;
		padding: 20px;

	float:left;
	}

	


#bottom {
	width: 100%;
	height: 20px;
}
.center {align-self: center}

#img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 420px) { #blue{ Width: 100%!important; height: auto}  
	
}


@media screen and (max-width: 420px) { #text{ width: 100%!important;}  
	
}


@media screen and (max-width: 420px) { #title{ width: 100%!important;}  
	
}


